<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj drużynę – Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="nav-main">
    <div class="nav-left">
        <span class="logo">⚽ LIGA – ADMIN</span>
    </div>

    <div class="nav-right">
        <a href="{{ url_for('admin_druzyny') }}">Powrót</a>
        <a href="{{ url_for('logout') }}">Wyloguj</a>
    </div>
</nav>

<div class="container">

    <h2>Edytuj drużynę</h2>

    <div class="card">
        <form method="POST">

            <label>Nazwa:</label>
            <input type="text" name="nazwa" value="{{ team[1] }}" required>

            <label>Miasto:</label>
            <input type="text" name="miasto" value="{{ team[2] }}" required>

            <label>Punkty:</label>
            <input type="number" name="punkty" value="{{ team[3] }}" required>

            <button class="btn" type="submit">Zapisz zmiany</button>
        </form>
    </div>

</div>

</body>
</html>
