<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>Logowanie</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

<div class="profile-box" style="max-width:380px;">

    <img src="{{ url_for('static', filename='img/login.jpg') }}" class="profile-img">

    <h2><i class="fa-solid fa-right-to-bracket"></i> Logowanie</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                <div class="flash flash-{{cat}}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="login" placeholder="Login" required>
        <input type="password" name="password" placeholder="Hasło" required>
        <button type="submit">Zaloguj</button>
    </form>

    <p style="margin-top:10px;">
        <a href="{{ url_for('register') }}"><i class="fa-solid fa-user-plus"></i> Załóż konto</a>
    </p>

    <p>
        <a href="{{ url_for('index') }}" style="color:#666;">
            <i class="fa-solid fa-arrow-left"></i> Powrót do strony głównej
        </a>
    </p>

</div>

</body>
</html>
