<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>Rejestracja</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

<div class="profile-box" style="max-width:380px;">

    <img src="{{ url_for('static', filename='img/register.jpg') }}" class="profile-img">

    <h2><i class="fa-solid fa-user-plus"></i> Rejestracja</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                <div class="flash flash-{{cat}}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="login" placeholder="Nowy login" required>
        <input type="password" name="password" placeholder="Nowe hasło" required>
        <button type="submit">Zarejestruj się</button>
    </form>

    <p style="margin-top:10px;">
        <a href="{{ url_for('login') }}"><i class="fa-solid fa-right-to-bracket"></i> Wróć do logowania</a>
    </p>

</div>

</body>
</html>
