<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>Profil zawodnika</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

<nav>
    <div>
        <a href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i> Strona główna</a>
        <a href="{{ url_for('zawodnicy_list') }}"><i class="fa-solid fa-person-running"></i> Zawodnicy</a>
    </div>
</nav>

<div class="profile-box">

    {% if player %}
        <img src="{{ url_for('static', filename='img/player.jpg') }}" class="profile-img">

        <h2>{{ player[1] }} {{ player[2] }}</h2>

        <p><i class="fa-solid fa-shirt"></i> Pozycja: <b>{{ player[3] }}</b></p>
        <p><i class="fa-solid fa-people-group"></i> Drużyna: <b>{{ player[4] }}</b></p>
        <p><i class="fa-solid fa-futbol"></i> Gole: <b>{{ stats.gole }}</b></p>

    {% else %}
        <p>Nie znaleziono zawodnika.</p>
    {% endif %}

</div>

<footer>© 2026 System Liga</footer>

</body>
</html>
